In [3]:
import pandas as pd
import matplotlib.pyplot as plt
# sklearn library
from sklearn import linear_model

# veri setimizi import ediyoruz, ayraç olarak noktalı virgül olduğu için bunu belirtiyoruz:
df = pd.read_csv("multilinearregression.csv",sep = ";")

In [4]:
# Veri setimizi görelim ve doğru import ettiğiniz kontrol edelim:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [5]:
df[['alan', 'odasayisi', 'binayasi']]

   alan  odasayisi  binayasi
0   180          5        10
1   225          4        18
2   260          3         2
3   320          6        10
4   335          4         9
5   345          5        14
6   355          3         0
7   400          4        10

In [6]:
df['fiyat']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: fiyat, dtype: int64

In [7]:
# linear regression modeli tanımlıyoruz:

reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])

# Prediction yapalım..

reg.predict([[230,4,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([530243.29284619])

In [8]:
reg.predict([[230,6,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([586097.7833456])

In [ ]:
reg.predict([[230,6,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([586097.7833456])

In [ ]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [ ]:
reg.intercept_

262365.1503032055

In [ ]:
# Multiple Linear regression formülümüze dönersek hatırlayalım:
# y= a + b1X1 + b2X2 + b3X3 + ... formülümüzdü

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

y

530243.2928461881